body{
	/*border: 4px solid red;*/
	padding:10px;
	margin: 10px;
}
/*	border: 4px solid red;
	padding: 10px;
	margin: 10px;
}
nav ul li{
	border: 4px solid red;
	padding: 10px;
	margin: 10px;

}
section,footer,p,aside,article,h1{
	border: 4px solid red;
	padding: 10px;
	margin: 10px;

}
.header{

}
taka se komentira
*/